/* Fonts */
@font-face {
  font-family: NETWORKSANS-2019-BOLD; 
  src: url(/static/fonts/NETWORKSANS-2019-BOLD.woff); 
}
@font-face {
  font-family: NETWORKSANS-2019-LIGHT; 
  src: url(/static/fonts/NETWORKSANS-2019-LIGHT.woff); 
}
@font-face {
  font-family: NETWORKSANS-2019-MEDIUM; 
  src: url(/static/fonts/NETWORKSANS-2019-MEDIUM.woff); 
}
@font-face {
  font-family: NETWORKSANS-2019-REGULAR; 
  src: url(/static/fonts/NETWORKSANS-2019-REGULAR.woff); 
}
@font-face {
  font-family: NETWORKSANS-2019-REGULARITALIC; 
  src: url(/static/fonts/NETWORKSANS-2019-REGULARITALIC.woff); 
}

:root {
    /* Global Colours*/
    --Light-Warm-Grey: #D7D2CB;
    /* Metropolitan Train Specific Colours */
    --Metropolitan-Train-Blue: #0072CE;

    /* Tram Specific Colours */
    --Tram-Green: #78BE20;

    /* Bus Specific Colours */
    --Bus-Orange: #FF8200;
}

p {
  font-family: NETWORKSANS-2019-REGULAR; 
}
h1 {
  font-family: NETWORKSANS-2019-BOLD; 
}
h2 {
    font-family: NETWORKSANS-2019-MEDIUM;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Light-Warm-Grey);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider.Metropolitan-Train-Blue {
  background-color: var(--Metropolitan-Train-Blue);
}
input:checked + .slider.Tram-Green {
  background-color: var(--Tram-Green);
}
input:checked + .slider.Bus-Orange {
  background-color: var(--Bus-Orange);
}



input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

