<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTV Display Control</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>PTV Display Control</h1>
        <h2> 1. Select Transit Type </h2>
        <input type="radio" name="option" value="Metropolitan-Train" onchange="change_transit_type(this.value)"> Metropolitan Train<br>
        <input type="radio" name="option" value="Tram" onchange="change_transit_type(this.value)"> Tram<br>
        <input type="radio" name="option" value="Bus" onchange="change_transit_type(this.value)"> Bus (unsupported)<br>
        <h2>2. Select Station / Stop </h2>
        <div id="stop-select-div"></div>
        <input list="Train-Stops-Select" id="Train-Stop-Select">
        <input type="hidden" id="Train-Stop-Id">
        <datalist id="Train-Stops-Select"></datalist>
        </datalist>
        <h2>3. Select PID Type</h2>
        <div id="display-select-div">

        </div>
        <div>
            <button onclick="send_to_display()">Send to display -></button>
        </div>


    <script src="/static/script.js"></script>
</body>
</html>